<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.og.finance.ether">

    <!--Permissions-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".application.EtherApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Activities-->
        <activity android:name=".activities.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Receivers-->
        <receiver
            android:name=".receivers.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.AutoUpdateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.og.finance.ether.receivers.AutoUpdateReceiver.START_UPDATE_SERVICE" />
                <action android:name="com.og.finance.ether.receivers.AutoUpdateReceiver.STOP_UPDATE_SERVICE" />
            </intent-filter>
        </receiver>

        <!--Services-->
        <service
            android:name=".services.AutoUpdateService"
            android:enabled="true"
            android:exported="false" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3274f0df4969fff2fcfce54765f4d96b095f2e25" />
    </application>

</manifest>